#container
{
  width: 75px;
  height: 75px;
}
div
{
  width: 25px;
  height: 25px;
}
#container > div
{
  width: 75px;
  background-color: black;
}
#container > div > div
{
  /*background-color: blue;*/
  display: inline-block;
}